body{
	background: url(../images/background.jpg);
}
.container{

}
.info{
	
}
.logo{
	width: 55px;
}
.handle-image{
	
}
.handle-image img{
	width: 48px;
}
.handle-graph img{
	width:300px;
}
.cursor{
	cursor: pointer;
}
#codegress-logo{
	width:38px;
}
.login-btn{

}
.forgot-text{
	padding-left: 20px;
}