body{
	font-family: "Lucida Grande";
}
.container-fluid{
	/*background-color: #e9eaed;	*/
}
.container{
	
}
hr{
	border-color: #ccc;
}
.header{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px 0px 0px 15px;
	background-color:#e9eaed;
	border-radius: 10px;	
}
.header .container{
	
}
.box{
	margin:auto;
	box-shadow: 0.2px 0.5px 1.1px gray;
	border-radius: 5px;
	padding: 10px;	
	background-color: white;
	width: 30%;
}
.box-title{
	padding-top:20px;
	font-size: 16px;
}
.form-control:focus{
	box-shadow: none;
}
.validation-error{
	background: #FEF1EC;
    border: 1px solid #CD0A0A;
}
#handle-error{
	font-size: 13px;
}
.feeds{
	padding:5px;
	box-shadow:0px 0px 1px gray;
}
.feed{
	padding: 10px;
	margin-bottom: 15px;
	background-color: white;
	box-shadow:0 4px 6px 1px rgba(50, 50, 50, 0.14);
}
.feed-head{
	color: #666;
	font-family: "Droid Sans";
	font-weight: bold;
}
.feed-title .title{
	padding: 0px 0px 0px 5px;
	font-family: "Droid Sans";
	font-weight: bold;
	color: #666;
}
.feed-body{
	padding: 0px 0px 5px 5px;
	color: gray;
	cursor: pointer;
}

.feed-body:hover{
}
.challenges{
	margin-top: 10px;
	padding: 10px;
	box-shadow:0px 0px 1px gray;
}
.challenge{
	padding: 10px;
	margin-bottom: 5px;
	background-color: #eee;
	box-shadow:0px 0px 1px gray;
}
.challenge-title{
	color: #666;
	font-family: "Droid Sans";
	margin-bottom: 0px;
}
.challenge-title .title{
	padding: 0px 0px 0px 5px;
}
.challenge-title .date{
	font-size: 12px;
}
.glyphicon-edit,.glyphicon-fire{
	cursor: pointer;
}
#new-challenge{
	/*width: 80%;*/
	margin:auto;	
}
#new-challenge .form-group{
	width: 65%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 15px;
}
#new-challenge .form-group #note{
	color: gray;
}
#new-challenge .form-group > span{
	
}
.graphs{
	display: none;
	color: #999;
	color: gray;
	padding: 0px;
}
.graph{

}
.graph-title{
	font-weight: bold;
	color: #666;
	font-family: "Droid Sans";
	text-align: center;
}
.graph-body{
	padding: 10px;
}
.logo{
	width: 55px;
}
.handle-image img{
	width: 42px;
}
.challenger-image:hover{
	text-decoration: none;
}
.challenger-image img{
	width: 28px;
}
.cursor{
	cursor: pointer;
}
#codegress-logo{
	width:38px;
	/*font-family: 'Merriweather Sans';*/
}
.forgot-text{
	position: relative;
	left: 10px;
}
.btn-login{
	position: relative;
	left: 140px;
}