<div>
	<ul class="list-group col-md-2">
		<li class="list-group-item">
			<a href="#">Challenges</a>
		</li>
		<li class="list-group-item">
			<a href="#">Competitons</a>
		</li>
		<li class="list-group-item">
			<a class="" href="#">Challenge a Friend</a>
		</li>
	</ul>
</div>
<div>
	<ul class="nav nav-tabs col-md-8" data-toggle="affix">
		<li class="col-md-2">
			<a href="/{{request.session.handle}}/feeds">Feeds</a>
		</li>
		<li class="col-md-3">
			<a href="/{{request.session.handle}}/updates">Updates</a>
		</li>
		<li class="col-md-3">
			<a href="/{{request.session.handle}}/mychallenges">Recent Challenges</a>
		</li>
	</ul>
</div>
<div>
	<ul class="list-group col-md-2">
		<li class="list-group-item">
			<a href="">Graphs</a>
		</li>
	</ul>
</div>
</div>