<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{%block title%}CodeGress | Code | Progress{%endblock%}</title>
	{%load staticfiles%}
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CDN -->
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<!-- Offline Bootstrap -->
<link rel="stylesheet" href="{%static 'handle/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'handle/css/bootstrap-theme.css'%}">
<script src="{%static 'handle/js/jquery-1.11.3.min.js'%}"></script>
<script src="{%static 'handle/js/bootstrap.min.js'%}"></script>

<!-- Local CSS and JS -->
<link rel="stylesheet" href="{%static 'handle/css/styles.css'%}">
<script src="{%static 'handle/js/script.js'%}"></script>
</head>
<body>
{%block body%}
{%endblock%}	
</body>
</html>