{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block body%}
<div class="container">
	{%include 'handle/codegress_base.html'%}
	<div>
		<ul class="list-group col-md-2 text-center">
			<li class="list-group-item">
				<a href="/challenges/">Challenges</a>
			</li>
			<li class="list-group-item">
				<a href="/competitions/">Competitons</a>
			</li>
			<li class="list-group-item">
				<a  href="caf">Challenge a Friend</a>
			</li>
		</ul>
	</div>
	<div>
	<ul class="nav nav-pills col-md-8 text-center" data-toggle="affix">
		<li class="col-md-3">
			<a href="feeds">Feeds</a>
		</li>
		<li class="col-md-3">
			<a href="updates">Updates</a>
		</li>
		<li class="col-md-3">
			<a href="challenges">Recent Challenges</a>
		</li>
	</ul>
	</div>
	<div>
		<ul class="list-group col-md-2 text-center">
			<li class="list-group-item">
				<a href="graphs">Graphs</a>
			</li>
		</ul>
	</div>
</div>
{%endblock%}