{%load staticfiles%}
<div class="page-header">
	<div class="container">
	<ul class="list-inline">
		<li>
			<a href="/" class="btn">
				<img id="codegress-logo" src="{%static 'handle/images/codegress-logo.gif'%}" 
				alt="codegress logo">
			</a>
		</li>
		{%if request.session.handle%}
		<li class="handle-image pull-right handle-tooltip">
		<div class="dropdown">
			<img class="dropdown-toggle cursor" src="{%static 'handle/images/default-handle-img.png'%}" alt="Default Profile Image" data-toggle="dropdown">
			<span class=" dropdown-toggle caret cursor" data-toggle="dropdown"></span>
			<ul class="dropdown-menu">
			    <li><a href="/{{request.session.handle}}/">Leaderboard</a></li>
			    <li><a href="settings/personal">
			    	Profile Settings</a>
			    </li>
			    <li><a href="#">Group Activity</a></li>
			    <li class="divider"></li>
			    <li><a href="/logout">Logout</a></li>
		  	</ul>
		</div>
		</li>
		{%else%}
			{%if signup%}
			<li class="pull-right"><a href="/signup" class="btn">Sign Up</a></li>
			{%endif%}
			{%if login%}
			<li class="pull-right"><a href="/login" class="btn">Login</a></li>
			{%endif%}	
		{%endif%}
		<li>
			<form action="/search" method="GET" role="form">
				<div class="form-group">
					<input class="form-control" type="search" name="q" 
					placeholder="Search for a challenger">				
				</div>
			</form>
		</li>
	</ul>
	</div>
</div>