<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodeGress | Code | Progress</title>
	{%include 'handle/base.html'%}
	{%load staticfiles%}
</head>
<body>
	<div class="container">
		<div class="page-header">
			<ul class="list-inline">
				<li>
				<a href="/" class="btn btn-default">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				</li>
				<li><a href="/login" class="btn btn-default">Login</a></li>
				<li><a href="/signup" class="btn btn-default">Sign Up</a></li>
			</ul>
		</div>
	</div>
</body>
</html>