{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block title%}{{handle}}'s Leaderboard{%endblock%}
{%block body%}
<div class="container">
	<div class="row">
		<div class="text-center">
			{%if handle%}
			<div class="box">
				<div class="box-title">
					{{handle}}<hr>
				{%if rank%}
					<div class="">
						<p>{{rank}}<sup>{{suffix}}</sup></p>
					</div>
				{%endif%}
				</div>
				{%if fname%}
				<hr>
				<p>
					<a href="/{{handle}}">
					<span class="text-primary">{{fname}}</span>
					</a>
				</p>
				{%endif%}
				{%if company%}
				<p>{{company}}</p>
				{%endif%}
				{%if country%}
				<p>{{country}}</p>
				{%endif%}
				{%if website%}
				<p><a href="{{website}}">{{website}}</a></p>
				{%endif%}
				{%if follow%}
				<p>
					<a class="btn btn-default btn-xs" href="{{handle}}/follow">Follow</a>
				</p>
				{%endif%}
			</div>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%}