{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block title%}{{handle}}'s Leaderboard{%endblock%}
{%block body%}
<div class="container">
	{%include 'handle/header.html'%}
	<div class="row">
		<div class="text-center col-md-4 col-md-offset-4">
			{%if handle%}
			<div class="box">
				{%if rank%}
				<h4 class="box-title">
					<p>{{rank}}<sup>{{suffix}}</sup> on codegress leaderboard</p>
				</h4>
				{%endif%}
				{%if fname%}
				<hr>
				<p>
					<a href="/{{handle}}">
					<span class="text-primary">{{fname}}</span>
					</a>
				</p>
				{%endif%}
				{%if company%}
				<p>{{company}}</p>
				{%endif%}
				{%if country%}
				<p>{{country}}</p>
				{%endif%}
				{%if website%}
				<p><a href="{{website}}">{{website}}</a></p>
				{%endif%}
				{%if follow%}
				<p>
					<a class="btn btn-default btn-xs" href="{{handle}}/follow">Follow</a>
				</p>
				{%endif%}
			</div>
			{%endif%}
		</div>
	</div>
</div>
{%endblock%}