{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block title%}Codegress Login{%endblock%}
{%block body%}
<div class="container">
	<div class="row">
		<form action="/signin" method="post" role="form" 
			class="box">{%csrf_token%}
			<p class="box-title text-danger text-center text-uppercase">Sign in</p><hr>
			<div class="form-group">
				<!-- <span>Username or Email</span> -->
				<input type="text" name="handle"  value="{%if handle%}{{handle}}{%endif%}"
				class="form-control" placeholder="Username or Email" 
				{%if not handle or focus%}autofocus{%endif%}>
			</div>
			<div class="form-group">
				<div class="pull-right">
					<a href="/recover" tabindex="-1">Forgot Password?</a>
				</div>
				<!-- <span>Password</span> -->
				<input type="password" name="password" class="form-control" 
				placeholder="Password" {%if handle and not focus%}autofocus{%endif%}>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-sm form-control" 
				data-disable-with="Signing in…">Sign In</button>
			</div>
			{%if error%}
				<pre class="text-danger">{{error}}</pre>
			{%endif%}
		</form>
	</div>
</div>
{%endblock%}