{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block body%}
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<ul class="list-group text-center">
				<li class="list-group-item">
					<a href="personal">Personal</a>
				</li>
				<li class="list-group-item">
					<a href="password">Password</a>
				</li>
				<li class="list-group-item">
					<a class="" href="group">Group</a>
				</li>
				<li class="list-group-item">
					<a class="" href="challenges">Challenge</a>
				</li>
				<li class="list-group-item">
					<a href="feeds">Feed</a>
				</li>
			</ul>
		</div>
		{%block profile_body%}
		{%endblock%}
	</div>
</div>
{%endblock%}