{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block body%}
<div class="container">
	{%include 'handle/codegress_base.html'%}
	<div class="row">
		<div class="col-md-2">
			<ul class="list-group text-center">
				<li class="list-group-item">
					<a href="personal">Personal</a>
				</li>
				<li class="list-group-item">
					<a href="password">Password</a>
				</li>
				<li class="list-group-item">
					<a class="" href="group">Group</a>
				</li>
				<li class="list-group-item">
					<a class="" href="challenges">Challenges</a>
				</li>
				<li class="list-group-item">
					<a href="feeds">Feeds</a>
				</li>
			</ul>
		</div>
		{%block profile_body%}
		{%endblock%}
	</div>
</div>
{%endblock%}