{%extends 'handle/profile_settings.html'%}
{%block profile_body%}
<form action="password" method="post" role="form">{%csrf_token%}
	<div class="col-md-4">
		<p class="text-info">Update Password</p><hr>
		<div class="form-group">
			<input type="password" name="old_pass"  value=""
			class="form-control" placeholder="Old password">
		</div>
		<div class="form-group">
			<input type="password" name="new_pass"  value=""
			class="form-control" placeholder="New password">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-danger">Update</button>
		</div>
		{%if info%}
			<pre class="text-success">{{info}}</pre>
		{%endif%}
		{%if error%}
			<pre class="text-success">{{error}}</pre>
		{%endif%}
	</div>
</form>
{%endblock%}