{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block body%}
<div class="container">
	{%include 'handle/header.html'%}
	<form action="/recover" method="post" role="form" class="box col-md-4 col-md-offset-4">{%csrf_token%}
		<p class="box-title text-danger text-center text-uppercase">Email Password</p><hr>
		<div class="form-group">
			<input type="text" id="email-forgot" name="email" value="{{request.session.email}}" autofocus class="form-control" placeholder="Registered Email">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success form-control">Send</button>
		</div>
		{%if error%}
			<pre class="text-danger">{{error}}</pre>
		{%endif%}
		{%if info%}
			<pre class="text-info">{{info}}</pre>
		{%endif%}
	</form>
</div>
{%endblock%}