{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block body%}
<div class="container">
	<div class="page-header">
		<ul class="list-inline">
			<li>
				<a href="/" class="btn">
					<img id="codegress-logo" src="{%static 'handle/images/codegress-logo.gif'%}" 
					alt="codegress logo">
				</a>
			</li>
			<li><a href="/login" class="btn">Login</a></li>
		</ul>	
	</div>
	<form action="/login/recover" method="post" role="form" class="col-md-4">{%csrf_token%}
		<div class="form-group">
			<input type="text" id="email-forgot" name="email" value="{%if handle%}{{handle}}{%endif%}" autofocus
			class="form-control" placeholder="Enter your email">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-danger">Recover Password</button>
		</div>
		{%if error%}
			<pre class="text-danger">{{error}}</pre>
		{%endif%}
		{%if info%}
			<pre class="text-info">{{info}}</pre>
		{%endif%}
	</form>
</div>
{%endblock%}