{%extends 'handle/base.html'%}
{%load staticfiles%}
{%block title%}Codegress SignUp{%endblock%}
{%block body%}
<div class="container">
	{%include 'handle/header.html'%}
	<div class="row">
		<form action="/signup" method="post" role="form" id="signup-form" 
			class="col-md-offset-4 col-md-4 box">{%csrf_token%}
			<p class="box-title text-danger text-center text-uppercase">Sign up</p><hr>
			<div class="form-group" id="handle-group">
				<input type="text" id="handle" name="handle" value="{%if handle%}{{handle}}{%endif%}" class="form-control" placeholder="Username" {%if not handle%}autofocus{%endif%}>
				<span id="handle-feedback" class="glyphicon form-control-feedback hide"></span>
			</div>
			<div class="form-group" id="email-group">
				<input type="text" id="email" name="email"  value="{%if email%}{{email}}{%endif%}"
				class="form-control" placeholder="Email" {%if not email%}autofocus{%endif%}>
				<span id="email-feedback" class="glyphicon form-control-feedback hide"></span>
			</div>
			<div class="form-group" id="password-group">
				{%if forgot%}
				<div class="col-md-offset-8">
					<a href="/recover" tabindex="-1">Forgot Password?</a>
				</div>
				{%endif%}
				<input type="password" id="password" name="password" class="form-control" placeholder="Password">
				<span id="password-feedback" class="glyphicon form-control-feedback hide"></span>
			</div>
			<div class="form-group">
				<button type="submit" id="signup-btn" class="btn btn-success form-control" 
				data-disable-with="Signing Up…">Sign Up</button>
				{%if error%}
					<p class="alert text-danger" id="signup-error">{{error}}</p>
				{%endif%}
			</div>
		</form>
	<div>
</div>
{%endblock%}